<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div id="header">
            <h1 id="logo">Top Ten Movies <i class="material-icons" id="movie-icon">movie</i></h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/movies">Movies</a></li>
                <li><a href="/users/registration">Registration</a></li>
                <li><a href="/movies/new">Create Movie</a></li>
                <li><a href="/users">All Users</a></li>
                <li><a href="/users/logout">Log Out</a></li>
            </ul>
        </nav>