<%if (session.logged)  {%>
<%- include("../partials/header.ejs")%>
<%} else {%>
<%- include("../partials/headerLoggedOut.ejs")%>
<%};%>
<div class="movie-list">
<h1>Global Top Ten</h1>
<ul>
   <li>Placeholder for Top Ten</li>
</ul>
</div>
<%- include("../partials/footer.ejs")%>