body  {
    background-color: #95bf3b;
    text-align: center;
}
.wrapper  {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
nav  {
    grid-column: 1 / 5;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #01260A;
}
 a{
     color: white;
 }

 #logo{
    font-family: 'Butcherman', cursive;
    font-size: 80px;
 }

 a:hover{
     color: #95bf3b;
 }

.reg-wrapper {
    grid-column: 1 / 3;
}
.log-wrapper {
    grid-column: 3 / 5;
}
#header {
    background-color: #95bf3b;
    text-align: left;
    min-height: 250px;
    background-position: center;
    grid-column: 1/5;
    color: black;
}

h1  {
    grid-column: 1 / 5;
}
li {
    float: left;
    padding: 14px 16px;
    text-align: center;
}
img {
    width: 200px;
}