<%- include("../../partials/header.ejs")%>

    <span><%=message%></span>

    <h1>Registration</h1>
    <form action="/users" method="POST">
        Username
        <input type="text" name="userName" required><br>
        Password
        <input type="text" name="password"><br>
        <input type="submit" value="Register">
    </form>

    <h1>Login</h1>
    <form action="/users/login" method="POST">
        Username
        <input type="text" name="userName" required><br>
        Password
        <input type="password" name="password"><br>
        <input type="submit" value="Log In">
    </form>
<%- include("../../partials/footer.ejs")%>